body {
 font-family: arial, helvetica;
}

table {
  border-collapse: collapse;
}

thead tr{
 background-color: #c0d0e0;
 font-size: 13pt;
}

table,th,td {
 border: 1px solid black;
}
td {
 padding: 4px;
}
